*{
    border:1px solid red;
    /*padding: 5px;*/
}

body{
    width: 100%;
    height: 100%;
    background-image: url(http://img07.deviantart.net/c8be/i/2010/003/b/f/grungy_night_sky_by_gullebullen.jpg);
    background-size: cover;
    background-repeat: false;
    
}

#video-player{
    width: 100%;
    height: auto;
}

#localVideo{
    width: 100%;
    height: auto;
}

#remoteVideo{
    width: 100%;
    height: auto;
}

/*.book-content{
    position: fixed;

}*/

#flipbook{
    width:100%;
    height: auto;
}

#page{
    width: 100%;
    height: auto;
}
